# =====================
# Visual Studio
# =====================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =====================
# .NET
# =====================
bin/
obj/

# =====================
# Node / Angular
# =====================
node_modules/
dist/
.angular/

# =====================
# Environment files
# =====================
.env
