// Header component styles

:host {
  display: block;
}

// Material icon size adjustments
.mat-icon.text-xs {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

a.no-underline {
  text-decoration: none;
}
